<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css"
          th:href="@{bootstrap.min.css" />
</head>
<body>
    <div class="col-3"></div>
    <div class="container col-6">
        <h1>Create New User</h1>
        <div class="col-md-auto">
            <form th:object="${user}" th:action="@{save}" method="post">
                <div>
                    <label th:text="Name" th:for="name" />
                    <input type="text " class="form-control" th:field="*{name}"
                           th:placeholder="Name" />

                </div>

                <div style="clear: both; display: block;height: 10x"></div>
                    <label th:text="Email" th:for="email" />
                    <input type="text " class="form-control" th:field="*{email}"
                           th:placeholder="Email" />


                <div style="clear: both; display: block;height: 10x"></div>
                    <label th:text="Phone" th:for="phone" />
                    <input type="text " class="form-control" th:field="*{phone}"
                           th:placeholder="Phone" />

                <div style="clear: both; display: block;height: 10x"></div>
                <input type="submit" value="save" class="btn btn-success">
            </form>
        </div>
    </div>


</body>
</html>