<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap.min.css"
          th:href="@{bootstrap.min.css}" />
</head>
<body>

    <div class="col-3"></div>
    <div class="container col-6">
        <h1>User CRUD actions</h1>
        <table class="table table-active">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>CRUD</th>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td><br />
                <td th:text="${user.email}"></td><br />
                <td th:text="${user.phone}"></td><br />
                <td>
                    <a th:href="@{/edit?id={id}{id=${user.id}}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/delete?id={id}(id=${user.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
        <a href="/add" class="btn btn-success">Create New User</a>
    </div>
</body>
</html>